* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smythe', sans-serif;
}
body {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

.container {
    padding: 46px;
}

.hidden {
    display: none;
}

header {
    background-image: url('/images/ferks-guare-KEZdWfYD-ow-unsplash.jpg');
    background-position: center;
    background-size: cover;
    height: 167px;
    color: white;
}

main {
    background-color: white;
}


.menu-card {
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    gap: 32px;
    width: 100%;
    padding: 32px;
}

.menu-card-img-container {
    width: 70px;
}

.menu-card-img {
    width: 100%;
}
.menu-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.menu-card-ingredients {
    color: #8B8B8B;
}

.menu-card-btn {
    border-radius: 50%;
    border: 2px solid #dedede;
    width: 50px;
    height: 50px;
    font-size: 32px;
    color: #3c3c3c;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    background-color: white;
    margin-left: auto;
    line-height: 0;
    cursor: pointer;
}
.menu-card-btn:hover {
    background-color: #dedede;
}

.order {
    padding: 32px;
}
.order-items {
    list-style: none;
    border-bottom: 2px solid #393333;
    padding: 32px 0;
}

.order-item {
    display: flex;
    gap: 12px;
}
.order-item:not(:last-child) {
    margin-bottom: 8px;
}

.order-title {
    text-align: center;
}

.order-item-remove-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #BBBBBB;
    font-family: 'Verdana', sans-serif;
}
.order-item-remove-btn:hover {
    text-decoration: underline;
}

.order-item-price {
    margin-left: auto;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    color: #0E0E0E;
}

.order-complete-btn,
.payment-modal-btn {
    width: 100%;
    margin-top: 50px;
    border-radius: 4px;
    background-color: #16DB99;
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    padding: 24px;
    cursor: pointer;
}

.payment-modal-btn {
    font-size: 1.25rem;
}

.payment-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.modal-visible {
    display: flex;
    backdrop-filter: brightness(0.8);
}

.payment-modal-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 46px;
    font-family: 'Verdana', sans-serif;
}
.payment-modal-form {
    width: 524px;
    padding: 46px;
    background-color: white;
    border-radius: 4px;
}
.payment-modal input {
    border: 1px solid #757575;
    border-radius: 4px;
    font-family: 'Verdiana', sans-serif;
    display: block;
    padding: 24px 24px;
    margin-bottom: 24px;
    width: 100%;
}
.payment-modal input::placeholder {
    color: #757575;
}

.thank-you {
    background-color: #ECFDF5;
    height: 120px;
    margin-top: 46px;
}
.thank-you-title {
    text-align: center;
    color: #065F46;
    font-size: 2rem;
    font-weight: 400;
}

/* Typography */
.menu-card-title,
.order-title,
.order-item-title,
.total {
    font-size: 1.75rem;
    font-weight: 400;
}

.order-item-price,
.menu-card-price,
.total-amount,
.payment-modal input::placeholder {
    font-size: 1.25rem;
}

.menu-card-ingredients {
    font-size: 1rem;
}